[submodule "API_3_SEM_BACKEND"]
	path = API_3_SEM_BACKEND
	url = git@github.com:DataSphere-API/API_3_SEM_BACKEND.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/DataSphere-API/API_3_SEM_FRONTEND.git
